{% extends 'base.html' %}
<!-- {% load static %} -->

{% block title %}Home - QuickBites{% endblock %}

{% block content %}
    <div class="txt-pic">
        <div class="txt">
            <h1 class="H1">Welcome to</h1>
            <h1 class="H2">QuickBites</h1>
            <p class="P1">Our mission is to provide you with an exceptional dining experience...</p>
        </div>
        <div class="pic">
            <img src="/static/images/Meal-PNG-Image-File.png" class="img-fluid" alt="Restaurant Image">
        </div>
    </div>

{% endblock %}


