{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - QuickBites{% endblock %}

{% block content %}
    <!-- <div class="txt-pic">
        <div class="txt">
            <h1 class="H1">Welcome to</h1>
            <h1 class="H2">QuickBites</h1>
            <p class="P1">Our mission is to provide you with an exceptional dining experience...</p>
        </div>
        <div class="pic">
            <img src="{% static 'images/Meal-PNG-Image-File.png' %}" class="img-fluid" alt="Restaurant Image">
        </div>
    </div> -->

    <div class="txt2-pic2">
        <div class="txt2">
            <h1 class="H3">QuickBites</h1>
            <p class="P2">Welcome to our restaurant, where flavor meets tradition. At QuickBites, we believe in crafting exceptional dining experiences that linger on your taste buds and create lasting memories.</p>
        </div>
        <div class="pic2">
            <img src="{% static 'images/pic-home.png' %}" class="img-fluid2" alt="Restaurant Image">
        </div>
    </div>
{% endblock %}
